<header class="bg-primary py-5 head">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Formacion para Empresas</h1>
                            <p class="lead text-white-50 mb-4">Ofrecemos la mejor formacion para las empresas y sus empleados, basdaos en modelos de trabajo en equipo y desarrollo agil</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Comenzar!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
            
            
            
            
            
            <section id="cursos" class="cursos">

            <h1 class="title-cursos" >CURSOS NO <span class="color-title" >HOMOLOGABLES</span></h1>
            <h4>Empresas</h4>
            <div class="container-card">

            <div class="card-main" >
                <div class="curso-card-bootcamp">
                
                  
                </div>
                    <h2 class="card-p">BOOTCAMPS</h2>
                    <div>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                    </div>
                    
                    </div>
            
            <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>
                

                      
            </div>

        </section>