<header class="bg-primary py-5 head">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Formacion para Empresas</h1>
                            <p class="lead text-white-50 mb-4">Ofrecemos formacion de calidad, basada en los modelos de enseñaza mas actuales y fructiferos >
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Comenzar!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>





<section id="cursos" class="cursos">
{{!-- Depende de ustedes cuales colocan aqui, estos se repitan por que es la estructura genetal --}}
        <h1 class="title-cursos" >CURSOS <span class="color-title" > NO HOMOLOGABLES</span></h1>
          <h4>Empresas</h4>
        <div class="container-card-cursosP">
          

        <div class="card-main" >
            <div class="curso-card-DiseñoCliente">
            
              
            </div>
                <h2 class="card-p"><a href="./designClient">Diseño Basado en el Cliente</a></h2>
                <div>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
                </div>
                
                </div>
        
        <div class="card-main" >
            <div class="curso-card-prototipado">
            
              
            </div>
                <h2 class="card-p"><a href="./prototipadoProductos">Prototipado de productos </a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-optimizacion">
            
              
            </div>
                <h2 class="card-p"><a href="./optimizacionProductos">Optimización de productos</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-aprendiz">
            
              
            </div>
                <h2 class="card-p"><a href="/aprendizDigital">Sé un aprendiz digital exitoso</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-BasesAdmin">
            
              
            </div>
                <h2 class="card-p"><a href="/administracionEquipos">Bases de administración de equipos de alto desempeño en la nube</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-Tdigital">
            
              
            </div>
                <h2 class="card-p"><a href="./pregados.html">Transformación para empresas basadas en tecnología</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-Tdatos">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Toma de decisiones basadas en datos</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-3DScanning">
            </div>
                <h2 class="card-p"><a href="./pregados.html">3D Scanning</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-modelado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Modelado</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>

            <div class="card-main" >
            <div class="curso-card-Impresion3D">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Impresión 3D</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-Automatizacion">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Automatización a la mano</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-Aereo">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Diseña y fabrica un vehículo aéreo</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Los datos y las organizaciones</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Origen de los datos</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Estrategias de almacenamiento</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Procesamiento de los datos</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Visualizando la información</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Análisis descriptivo y predictivo</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Estrategia de marketing digital</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Copywritting para marketing digital</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Diseño gráfico para marketing digital</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Produccion audiovisual para marketing digital</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Diseño y construcción de páginas web</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Implentación y personalización de tiendas en línea</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Automatización de marketing</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Community management</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Advertising y analítica de marketing</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Aceleracion y escalamiento de negocios</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Gestión de ventas y oportunidades de negocio</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            <div class="card-main" >
            <div class="curso-card-pregrado">
            </div>
                <h2 class="card-p"><a href="./pregados.html">Gestion financiera y fiscal de negocios</a></h2>
                <p class="p-info">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                </p>
            </div>
            
            

                  
        </div>

    </section>