
            <section id="cursos" class="cursos">

            <h1 class="title-cursos" >CURSOS NO <span class="color-title" >HOMOLOGABLES</span></h1>
            <h4>Personas</h4>
            <div class="container-card">

            <div class="card-main" >
                <div class="curso-card-bootcamp">
                
                  
                </div>
                    <h2 class="card-p">BOOTCAMPS</h2>
                    <div>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                    </div>
                    
                    </div>
            
            <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>

                <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">HACKATHONS</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>
                

                      
            </div>

        </section>