        <section id="cursos" class="cursos">

            <h1 class="title-cursos" >NUESTROS <span class="color-title" >CURSOS</span></h1>
            <div class="container-card">

            <div class="card-main" >
                <div class="curso-card-bootcamp">
                
                  
                </div>
                    <h2 class="card-p">Bootcamp</h2>
                    <div>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                    </div>
                    
                    </div>
            
            <div class="card-main" >
                <div class="curso-card-pregrado">
                
                  
                </div>
                    <h2 class="card-p"><a href="./pregados.html">Pregrado</a></h2>
                    <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                </div>
                
                <div class="card-main" >
                    <div class="curso-card-empresas">
                    
                      
                    </div>
                        <h2 class="card-p"><a href="./Empresas.html">Empresas</a></h2>
                        <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                    </div>

                    <div class="card-main"  >
                        <div class="curso-card-personas">
                        
                          
                        </div>
                            <h2 class="card-p">Personas</h2>
                            <p class="p-info">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                        </p>
                        </div>

                <div class="card-main"  >
                    <div class="curso-card-tutoriales">
                    
                      
                    </div>
                        <h2 class="card-p">Tutoriales</h2>
                        <p class="p-info">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                    </p>
                    </div>

                    <div class="card-main" >
                        <div class="curso-card-gic" >
                        </div>
                            <h2 class="card-p">Global innovation Center</h2>
                            <p class="p-info">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                        </p>
                        </div>

                        <div class="card-main" >
                            <div class="curso-card-tours">
                            </div>
                                <h2 class="card-p">Tours 4.0</h2>
                                <p class="p-info">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                            </p>
                            </div>

                            <div class="card-main" >
                                <div class="curso-card-hackathon">
                                
                                  
                                </div>
                                    <h2 class="card-p">Hackathons</h2>
                                    <p class="p-info">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, voluptas!
                                </p>
                                </div>

                      
            </div>

        </section>