<div id="layoutSidenav_content">
      

                <div class="container px-4 px-lg-5">
                    <!-- Heading Row-->
                    <div class="row gx-4 gx-lg-5 align-items-center my-5">
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../img/WhatsApp Image 2022-04-02 at 12.32.39 PM.jpeg" alt="..." /></div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light-cursos">Habilidades de Estudio</h1>
                            <p>Estudiar tiene sus técnicas y buenas prácticas. Con este curso aprenderás a ser un estudiante práctico y efecitivo </p>
                            <a class="btn btn-primary" href="https://studio.edunext.co/course/course-v1:colombiaX+DBC-01+2021-2">Ir al Curso!</a>
                        </div>
                    </div>
                    <!-- Call to Action-->
                    <div class="card text-white bg-secondary my-5 py-4 text-center">
                        <div class="card-body"><p class="text-white m-0">La certificacion es brindada por EduNext</p><br><a class="btn btn-primary btn-sm" href="#!">Descargar Pdf de muestra</a></div>
                        
                    </div>
                    <!-- Content Row-->
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title-cursos">Que Aprenderás</h2>
                                    <p class="card-text-cursos"><br>- Como optimizar tu tiempo<br> - Estrategias de estudio asincronico<br>- Disciplina en el estudio virtual</p><br>
                                    <p class="card-text-cursos"><h6>Modalidad:</h6>Virtual</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title-cursos">Instructores</h2><br>
                                    <div class="container-img" ><img src="../img/Juan-Carlos-Cabrera.jpg" alt=""></div>
                                    <p class="card-text-cursos"><h4>Santiago Linares:</h4>Esecialista en pedagogia de enseñanza con un master en procesos de desarrollo personal efectivo</p>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title-cursos">Fecha de Inicio</h2>
                                    <p class="card-text-cursos"><h5>Inicio:</h5> 14 de abril<br><br><h5>Finalización:</h5> 11 de Mayo</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                


                <footer class="py-4 bg-light mt-auto footer-lan">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>