<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Creative - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/eventos.css" rel="stylesheet" />
    </head>
    <body id="page-top"></body>
        <!-- Masthead-->
        <header class="masthead-hck">
            <div class="container px-4-hck px-lg-5-hck h-100-hck">
                <div class="row-hck gx-4-hck gx-lg-5-hck h-100-hck align-items-center-hck justify-content-center-hck text-center-hck">
                    <div class="col-lg-8-hck align-self-end">
                        <h1 class="text-white-hck ">Hackathons</h1>
                        <hr class="divider-hck" />
                    </div>
                    <div class="col-lg-8-hck align-self-baseline">
                        <p class="text-white-75-hck mb-5">Se trata de un encuentro colaborativo, en el que profesionales muy diferentes de un mismo sector necesitan soluciones en el area tecnologica, favoreciendo que distintos participantes se unan generando un clima de conocimiento muy atractivo, puesto que todos los participantes van a poder aprender del resto</p>
                        <a class="btn-hck btn-primary-hck btn-xl-hck" href="#inscriptionsect">Conoce mas!</a>
                    </div>
                </div>
            </div>
        </header>
        <!-- About-->
        <section id="inscriptionsect"class="page-section-hck bg-primary-hck" id="about">
            <div class="container px-4-hck px-lg-5-hck">
                <div class="row-hck gx-4-hck gx-lg-5-hck justify-content-center-hck">
                    <div class="col-lg-8-hck text-center-hck">
                        <h2 class="text-white-hck mt-0-hck">Más Sobre los Hackathons</h2>
                        <hr class="divider-hck" />
                        <p class="text-white-75-hck mb-4-hck">Un hackathon es un evento, generalmente organizado por una empresa tecnológica, en la que un grupo de programadores se congregan durante un corto período de tiempo para colaborar en un proyecto contrarreloj.

                            La palabra viene de la unión de “hack” y “marathon”, aunque la palabra “hack” en este caso corresponde por ser una resolución de problemas técnicos de una manera innovadora, poco convencional.
                            
                            Los hackatones son una excelente oportunidad para resolver retos importantes de las organizaciones, ya que se generan multitud de ideas que proponen soluciones que la empresa puede llegar a validar y poner en marcha.</p>
                        <a class="btn-hck btn-light-hck btn-xl-hck" href="#details">Detalles!</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services-->
        <section id ="details" class="page-section-hck" id="services">
            <div class="container px-4-hck px-lg-5-hck">
                <h2 class="text-center-hck mt-0-hck">Detalles</h2>
                <hr class="divider-hck" />
                <div class="row-hck gx-4-hck gx-lg-5-hck">
                    <div class="col-lg-3-hck col-md-6-hck text-center-hck">
                        <div class="mt-5-hck">
                            <div class="mb-2-hck"><img class="icon"src="../img/diamond.png" alt=""><i class="fs-1-hck text-primary-hck"></i></div>
                            <h3 class="h4-hck mb-2-hck">Sturdy Themes</h3>
                            <p class="text-muted-details mb-0-hck">Our themes are updated regularly to keep them bug free!</p>
                        </div>
                    </div>
                    <div class="col-lg-3-hck col-md-6-hck text-center-hck">
                        <div class="mt-5-hck">
                            <div class="mb-2-hck"><img class="icon"src="../img/computer.png" alt=""><i class=" fs-1-hck text-primary-hck"></i></div>
                            <h3 class="h4-hck mb-2-hck">Up to Date</h3>
                            <p class="text-muted-details mb-0-hck">All dependencies are kept current to keep things fresh.</p>
                        </div>
                    </div>
                    <div class="col-lg-3-hck col-md-6-hck text-center-hck">
                        <div class="mt-5-hck">
                            <div class="mb-2-hck"><img class="icon"src="../img/world-globe.png" alt=""><i class="fs-1-hck text-primary-hck"></i></div>
                            <h3 class="h4-hck mb-2-hck">Ready to Publish</h3>
                            <p class="text-muted-details mb-0-hck">You can use this design as is, or you can make changes!</p>
                        </div>
                    </div>
                    <div class="col-lg-3-hck col-md-6-hck text-center-hck">
                        <div class="mt-5-hck">
                            <div class="mb-2-hck"><img class="icon"src="../img/heart.png" alt=""><i class=" fs-1-hck text-primary-hck"></i></div>
                            <h3 class="h4-hck mb-2-hck">Made with Love</h3>
                            <p class="text-muted-details mb-0-hck">Is it really open source if it's not made with love?</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio-->
        <div id="portfolio">
            <div class="container-fluid-hck p-0-hck">
                <div class="row-hck g-0-hck">
                    <div class="col-lg-4-hck col-sm-6-hck">
                        <a class="portfolio-box-hck" href="../img/CImg1.jpeg" title="Project Name">
                            <img class="img-fluid-hck" src="../img/CImg1.jpeg" alt="..." />
                            <div class="portfolio-box-caption-hck">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4-hck col-sm-6-hck">
                        <a class="portfolio-box-hck" href="../img/Cimg2.jpeg" title="Project Name">
                            <img class="img-fluid-hck" src="../img/Cimg2.jpeg" alt="..." />
                            <div class="portfolio-box-caption-hck">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4-hck col-sm-6-hck">
                        <a class="portfolio-box-hck" href="../img/Cimg3.jpeg" title="Project Name">
                            <img class="img-fluid-hck" src="../img/Cimg3.jpeg" alt="..." />
                            <div class="portfolio-box-caption-hck">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4-hck col-sm-6-hck">
                        <a class="portfolio-box-hck" href="../img/Cimg4.jpeg" title="Project Name">
                            <img class="img-fluid-hck" src="../img/Cimg4.jpeg" alt="..." />
                            <div class="portfolio-box-caption-hck">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4-hck col-sm-6-hck">
                        <a class="portfolio-box-hck" href="../img/Cimg5.jpeg" title="Project Name">
                            <img class="img-fluid-hck" src="../img/Cimg5.jpeg" alt="..." />
                            <div class="portfolio-box-caption-hck">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4-hck col-sm-6-hck">
                        <a class="portfolio-box-hck" href="../img/Hck1.jpeg" title="Project Name">
                            <img class="img-fluid-hck" src="../img/Hck1.jpeg" alt="..." />
                            <div class="portfolio-box-caption-hck p-3">
                                <div class="project-category text-white-50">Category</div>
                                <div class="project-name">Project Name</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4-hck px-lg-5-hck"><div class="small text-center-hck text-muted">Copyright &copy; 2022 - LatinoamericaX</div></div>
        </footer>
        <!-- Bootstrap core JS-->

        <!-- Core theme JS-->
        <script src="js/eventos.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
