<header class="bg-primary py-5 head">
            <div class="container px-5">
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-6">
                        <div class="text-center my-5">
                            <h1 class="display-5 fw-bolder text-white mb-2">Tutoriales</h1>
                            <p class="lead text-white-50 mb-4">Los mejores tutoriales gratis para la toda nuestra comunidad, basados en la calidad y difusion de la informacion</p>
                            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Comenzar!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Features section-->
        <section class="py-5 border-bottom" id="features">
            <div class="container px-5 my-5">
                <div class="row gx-5">
                    
                    <div class="col-lg-4 mb-5 mb-lg-0 tutorial">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Tutorial de teletrabajo</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="https://educacion.latinoamericax.org/courses/course-v1:colombiaX+007-OP+2021-2/course/">
                           Ir al curso!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 tutorial">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Tutorial para montar fácilmente tu tienda digital</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="https://educacion.latinoamericax.org/courses/course-v1:colombiaX+MF003-OP+2021-2/course/">
                           Ir al curso!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 tutorial">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Tutorial de creación de contenidos educativos para profesores</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="https://educacion.latinoamericax.org/courses/course-v1:colombiaX+CE001-OP+2021-2/course/">
                           Ir al curso!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div><br><br>
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0 tutorial">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Aprende a implementar pagos en línea con y sin página web</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="https://educacion.latinoamericax.org/courses/course-v1:colombiaX+MF002-OP+2021-2/course/">
                            Ir al curso
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0 tutorial">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Tutorial de ventas por redes sociales (Estrategias de marketing)</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="https://educacion.latinoamericax.org/courses/course-v1:colombiaX+CX013+2020/course/">
                           Ir al curso!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                    <div class="col-lg-4 tutorial">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Tutorial ¿Cómo hacer tu propio tapabocas? 3D</h2>
                        <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
                        <a class="text-decoration-none" href="https://educacion.latinoamericax.org/courses/course-v1:colombiaX+FTE001-OP+2021-2/course/">
                           Ir al curso!
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>