<div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Contenidos</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Tutoriales
                            </a>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Eventos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Bootcamps</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Hackathons</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Tours 4.0</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Cursos
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Pregrado
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="./DiseñoBasadoEnCliente.html">Diseño basado en el cliente</a>
                                            <a class="nav-link" href="register.html">Prototipado de productos </a>
                                            <a class="nav-link" href="password.html">Optimización de productos</a>
                                            <a class="nav-link" href="./viajeEnLinea.html">Empezando tu viaje en línea</a>
                                            <a class="nav-link" href="password.html">Pensamiento crítico digital</a>
                                            <a class="nav-link" href="password.html">Habilidades de estudio</a>
                                            <a class="nav-link" href="password.html">Aprendizaje del futuro</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Empresas
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">Diseño de productos y servicios enfocados en el cliente</a>
                                            <a class="nav-link" href="404.html">Prototipado de productos para el emprendimiento</a>
                                            <a class="nav-link" href="500.html">Prototipado de productos para el emprendimiento</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Eventos</div>
                            <a class="nav-link" href="charts.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                Bootcamps
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Hackathons
                            </a>
                            <a class="nav-link" href="tables.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                Tours 4.0
                            </a>
                            <div class="sb-sidenav-menu-heading">Información</div>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Patrocinadores
                            </a>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Convenios
                            </a>
                            <a class="nav-link" href="index.html">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                ¿Quienes somos?
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Juan Ramirez
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
      

                <div class="container px-4 px-lg-5">
                    <!-- Heading Row-->
                    <div class="row gx-4 gx-lg-5 align-items-center my-5">
                        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                        <div class="col-lg-5">
                            <h1 class="font-weight-light-cursos">Empieza tu viaje en Linea</h1>
                            <p>Aprende todo lo necesario para iniciar un camino exitoso en la educación usando herramientas digitales </p>
                            <a class="btn btn-primary" href="https://studio.edunext.co/course/course-v1:colombiaX+DBC-01+2021-2">Ir al Curso!</a>
                        </div>
                    </div>
                    <!-- Call to Action-->
                    <div class="card text-white bg-secondary my-5 py-4 text-center">
                        <div class="card-body"><p class="text-white m-0">La certificacion es brindada por EduNext</p><br><a class="btn btn-primary btn-sm" href="#!">Descargar Pdf de muestra</a></div>
                        
                    </div>
                    <!-- Content Row-->
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title-cursos">Que Aprenderás</h2>
                                    <p class="card-text-cursos"><br>- Como optimizar tu tiempo<br> - Estrategias de estudio asincronico<br>- Manejo de herramientas ofimaticas (Excel, Word, Powerpoint y más)</p><br>
                                    <p class="card-text-cursos"><h6>Modalidad:</h6>Virtual</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title-cursos">Instructores</h2><br>
                                    <div class="container-img" ><img src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt=""></div>
                                    <p class="card-text-cursos"><h4>Sara Roman:</h4>Esecialista en pedagogia de enseñanza de la Universidad Javeriana con un master en Psicologia de la Atención</p>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title-cursos">Fecha de Inicio</h2>
                                    <p class="card-text-cursos"><h5>Inicio:</h5> 2 de abril<br><br><h5>Finalización:</h5> 11 de abril</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        
                


                <footer class="py-4 bg-light mt-auto footer-lan">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2022</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>